<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>StockMate</title>
</head>
<body>
<header class="main-header fixed-header">
    <div class="header-container">
        <div class="application-name">
            <h1>StockMate</h1>
        </div>
        <nav class="main-navigation" aria-label="メインナビゲーション">
            <ul class="nav-list">
                <li class="nav-item"><a href="/StockList">在庫一覧</a></li>
                <li class="nav-item"><a href="/Arrival">入庫</a></li>
                <li class="nav-item"><a href="/Shipping">出庫</a></li>
            </ul>
        </nav>

        <button class="menu-toggle" aria-controls="main-navigation-menu" aria-expanded="false" aria-label="メニューを開閉">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
<div class="header-spacer"></div>
<main style="min-height: 1500px; background-color: #f0f0f0; padding: 20px;">
    <h2>入庫</h2>
    <div class="main-contents">
        <div class="message-icon" th:each="stock : ${stocks}">
            <div>
                ID : <span th:text="${stock.id}"/>
            </div>
            <div>
                商品ID : <span th:text="${stock.productId}"/>
            </div>
            <div>
                在庫数 : <span th:text="${stock.stockQuantity}"/>
            </div>
        </div>
    </div>
</main>
<script th:src="@{/js/script.js}"></script>
</body>
</html>