<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>StockMate</title>
</head>
<body>
<header class="main-header fixed-header">
    <div class="header-container">
        <div class="application-name">
            <h1>StockMate</h1>
        </div>
        <nav class="main-navigation" aria-label="メインナビゲーション">
            <ul class="nav-list">
                <li class="nav-item"><a th:href="@{/StockList}">在庫一覧</a></li>
                <li class="nav-item"><a th:href="@{/Arrival}">入庫</a></li>
                <li class="nav-item"><a th:href="@{/Shipping}">出庫</a></li>
            </ul>
        </nav>
        <button class="menu-toggle" aria-controls="main-navigation-menu" aria-expanded="false"
                aria-label="メニューを開閉">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</header>
<div class="header-spacer"></div>
<main style="min-height: 1500px; background-color: #f0f0f0; padding: 20px;">
    <h2>商品編集</h2>
    <div class="main-contents">
        <form th:action="@{/ProductUpdate/{id}(id=${product.id})}" th:object="${product}" th:method="put">
            <div class="message-icon">
                <div>
                    商品名
                </div>
                <input type="text" th:field="*{name}"/>
                <div>
                    商品内容
                </div>
                <textarea th:field="*{contents}"></textarea>
                <div>
                    単価
                </div>
                <input type="number" th:field="*{price}"/>
            </div>
            <input type="submit" value="更新">
        </form>
    </div>
</main>
<script th:src="@{/js/script.js}"></script>
</body>
</html>